; Copiar los valores equivalentes a php.ini en el servidor Apache/PHP.
upload_max_filesize = 2G
post_max_size = 2G
upload_max_filesize = 50G
post_max_size = 50G
max_execution_time = 3600
max_input_time = 3600
memory_limit = 256M
max_file_uploads = 10000
